.App {
	background-color: #00337c;
	height: 100vh;
	width: 100vw;
}

.data-col {
	width: 70%;
	margin: auto;
}

.title {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 1rem;
}
