.task-card {
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 16px;
	transition: box-shadow 0.3s ease-in-out;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.task-card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.task-content {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

.task-completed {
	position: relative;
	width: 30px;
	height: 30px;
	margin-right: 16px;
	appearance: none;
	border: 2px solid #5b8fb9;
	border-radius: 50px;
	outline: none;
	cursor: pointer;
	transition: background-color 0.2s, border-color 0.2s;
}

.task-completed:checked {
	background-color: #5b8fb9;
	border-color: #5b8fb9;
}

.task-completed:checked::before {
	content: '\2713';
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.task-completed:focus {
	border-color: #5b8fb9;
}

.task-description {
	font-size: 18px;
	flex: 1;
	height: 40px;
}

.task-due-date {
	font-size: 18px;
	text-align: center;
	max-width: 100%;
	height: 43px;
}

.react-datepicker-wrapper {
	width: auto;
	text-align: right;
	height: 100%;
}
